.boy1{
    margin-left: 510px;
    margin-top: -285px;
}
.boy2{
    margin-left: 1000px;
    margin-top: -285px;
}
.boy{
    margin-left: 20px;
}
.fot{
    text-align: center;
    margin-top: 20px;
}
.vijo{
    margin-left: 10px;
}