.cook{
    margin-top: 120px;
    margin-left: 50px;
}
.tooc1{
    margin-top: -550px;
    margin-left: -350px;
}
.vijo{
    margin-left: 10px;
}
.zex{
    margin-left: -50px;
    background-color: rgb(17, 17, 81);
}
.der{
    margin-top: -300px;
   margin-top: 300px;
}
.der2{
    margin-top: -145px;
    margin-left: 500px;
}
.der3{
    margin-left: 800px;
    margin-top: -140px;
}