.der{
    margin-top: 150px;
    margin-left: -150px;
}
.der2{
    margin-top: 150px;
    margin-left: 10px;
}
.der3{
    margin-top: 150px;
    margin-left: 10px;
}
.zex{
    margin-top: 50px;
    margin-left: -150px;
    background-color: rgb(17, 17, 81);
}
.vijo{
    margin-left: 10px;
}